version: "3.8"

services:

  main_service:
    image: main_service
    build:
      context: ../../backend/main_service
      dockerfile: ../../backend/main_service/Dockerfile.dev

    volumes:
      - ../../backend/main_service/:/app   # Mount source code

    ports:
      - "8080:8080"

    # environment:
    #   SPRING_PROFILES_ACTIVE: dev

  python_ai:
    image: python_ai
    build:  ../../backend/python_ai/
    env_file:
      - ../../backend/python_ai/.env
    ports:
      - "8000:8000"
    volumes:
      - ../../backend/python_ai/:/code/app/
      - /code/app/venv

